* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    background-color: lightgoldenrodyellow;
}

header {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-left: 100px;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

p {
    display: flex;
    flex-direction: column;
    column-count: 2;
    flex-wrap: nowrap;
    margin-top: 10px;
}